*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeededec;
    font-family: 'josefin sans';
}

header{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(250, 249, 249);
    align-items: center;
    border-bottom: 3px solid #dcdcdc;
    
}
.logo{
    padding-inline: 11%;
}
#logo{
    width: 130px;
   
}
.links{
    padding-inline: 11%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    width: 30px;
    padding-inline: 2px;
}
   
#facebook{
    padding-left:20px;
}
main{
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    
}
.content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
    height: 87%;
    padding-left: 11%;
}
.content h2{
    padding-block: 10px;
    font-size: 30px;
}
.content p{
    padding-bottom: 30px;
    font-size: 24px;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-inline: 20px;
    height: 90%;
    width: 50%;
    background-color: rgba(250, 249, 249);
    margin-right: 11%;
    

}
.contact h2{
    font-size: 30px;
    padding-top: 20px;
    
}
.contact p{
    padding-block: 10px;
    font-size: 24px;
    padding-bottom: 20px;
}
input{
    margin-block: 1.7%;
    padding: 4%;
    background-color: #eeededec;
    color: #696969;   
    outline: none; 
    border: none;
    border-radius: 5px;
    min-height: 15px;
    
    
}
#note{
    color: #c9c5c5;
    font-size: 15px;
    padding-top: 10px;
    
}
    
::placeholder{
    font-size: 17px;
    font-family: 'josefin sans';
    font-weight: 400;
}


.btns{
    border: 1.7px solid #dcdcdc
    
}
#btn{
    background-color: green;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: 'josefin sans' ;
    font-weight: 600;
    font-size: 13px;
    
}
#btn:hover{
    background-color: darkgreen;
}
.push{
    height: 65px;
}
footer{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: space-between;
    align-items: center;
    background-color: #eeededec;
  
   
}
.left{
    padding-left: 11%;
   width: 85%;
}
.last-icons{
    
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: 15%;
    margin-right: 11%;
    align-items: right;
}
svg{
    fill: #a5a4a4;
    width: 23px;
    padding-left: 10px;
    height: 30px;
}
#green-text{
    color: green;
}
#Facebook:hover{
    fill: #3b5998 ;

}
#Twitter:hover{
    fill: #00acee
}
#Instagram:hover{
    fill: rgb(202, 0, 125)
}
@media screen and (max-width: 1000px){
    input{
        padding: 5.5%;
    }
    .contact p {
        padding: 5px;
    }
         
}
@media screen and (max-width: 630px){
   
    body{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 1084px;
        
       
        
    };
    header{
        margin: 0;
        padding: 0;
    }
    .logo, .links{
        padding: 0;
        margin: 5%;
    }
    
    main{
        display: flex;
        flex-direction: column;
       
    }
    .content, .contact{
        width: 90%;
        margin: 0;
        padding: 0;
        padding-block: 20px;
    }
    .contact h2, .contact p{
        padding-block: 10px ;
        margin-inline: 20px;
    }

    input{
        padding: 15px;
        margin-inline: 4%;
    }
    footer{
        margin-inline: 0;
        padding: 0;
        position: relative;
        padding-top: 10px;
        margin-top: 10rem;
    }
    .last-icons, .left{
        padding-inline: 0;
        margin-inline: 5%;
    }
    
    

    
}
@media screen and (max-width:520px){
    body{
        min-height: 1080px;
    }
    header{
        height: 60px;
        justify-content: space-between;
        padding: 0;
        
    }
    header h4{
        display: none;
        
    }
    #logo{
        width: 130px;
    }
    #facebook{
        padding-left: 0;
    }
    main{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .logo, .links{
        font-size: 10px;
        padding: 0;
        margin: 5%;
    }
    
    .icon{
        width: 30px;
        
    }

    .content{
        margin: 0;
        padding: 0;
        width: 90%;
        height: 500px;
        padding-block: 10px;
    }
    .contact{
        margin: 0;
        padding: 0;
        width: 90%;
        height: 500px;
        padding-block: 10px;

    }
    .contact h2, .contact p {
        padding: 10px;
        margin-inline: 10px;
    }
    .contact input{
        padding: 10px;
        margin-inline: 4%;
    }
    footer{
        padding: 0;
        margin-inline: 0;
        
    }
    
    .left{
        padding: 0;
        margin-inline: 5%;
    }
    .last-icons{
        padding: 0;
        margin-inline: 5%;
    }
}
@media  screen and (max-width:420px) {
    body{
        min-height: 1100px;
    }
}